.vscode/**
.claude/**
src/**
web/**
**/*.ts
**/*.map
esbuild.js
tsconfig.json
.gitignore
.git/**
.github/**
**/.DS_Store
node_modules/.bin/**
node_modules/wasm-vips/lib/vips-jxl.wasm
node_modules/wasm-vips/lib/vips-resvg.wasm
